<div class="row">
  <!-- property which comes from the child component and read by the parent -->
  <app-cockpit (serverCreated)="onServerAdded($event)"
               (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"></app-server-element>
      <!-- Component which comes from this parent component, send it to the child component  -->
    </div>
    </div>
  </div>
